<body>
  <main>
    <p id="notice"><%= notice %></p>
    <div class="container"> 
      <div class="row">
        <%= form_for(@book) do |f| %>
        <h1>Editing Book</h1>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title,class: "col-xs-12" %>
        </div>
        <div class="form-group">
          <%= f.label :opinion %>
          <%= f.text_area :body,class: "col-xs-12" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update Book',class: "col-xs-12 btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
<%= link_to 'Show', book_path(@book) %>|<%= link_to 'Back', books_path %>
  </main>
</body>